{% extends "base.html.twig"%}
{% block title %}
	Welcome to Ikole's Marketplace
{% endblock %}
{% block body %}
	<main>
		<div>
			<b>Item Title:</b>
			{{ ads.Title }}</div>
		<div>
			<b>Item Price:</b>
			${{ ads.price }}</div>
		<div>
			<b>Item Description:</b>
			{{ads.Description }}</div>
		<div>
			<a href="/ads/create">Create New Ads</a>
		</div>
		<div></div>
	</main>
{% endblock %}
{% block footer %}
	<footer>
		<!-- place footer here -->
	</footer>
{% endblock %}
